In [1]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, StringType
import pyspark.sql.functions as F
import json
import itertools

conf = SparkConf().setAppName('MyFirstStandaloneApp')
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")

In [2]:
def scrap_time_change(t : str):
    return int(t.split(':')[0])

def flights_hours_change(t : str):
    tt = scrap_time_change(t)
    if (tt < 6):
        return 'night'
    elif (tt < 12):
        return 'morning'
    elif (tt < 18):
        return 'afternoon'
    elif (tt < 24):
        return 'evening'

In [82]:
filepath = "2019-05-15.txt,2019-05-16.txt,2019-05-17.txt,2019-05-18.txt,2019-05-19.txt"

country_from = 'Austria'
country_to = 'Italy'

flightsRDD = sc.textFile(filepath)
header = flightsRDD.first()
filtered = flightsRDD.filter(lambda line: line != header)
#filtered = filtered.filter(lambda line : (line.split(';')[2] == country_from) & (line.split(';')[3] == country_to))
parts = filtered.map(lambda line: line.split(';'))


flights = parts.map(lambda p:
                   Row(Scrap_date = p[0],
                       Scrap_time = scrap_time_change(p[1]),
                       Country_from = p[2],
                       Country_to = p[3],
                       Flight_id = int(p[4]),
                       There_or_Back = p[5],
                       Flight_date = p[6],
                       Airline = p[7],
                       Change = int(p[8]),
                       Price = float(p[9]),
                       Depart_hour = flights_hours_change(p[10]),
                       Depart_from = p[11],
                       Arrival_hour = flights_hours_change(p[12]),
                       Arrive_to = p[13]
                      ))

sqlContext = SQLContext(sc)
dt = sqlContext.createDataFrame(flights)
dt.registerTempTable("flights")

timeFmt1 = "yyyy-MM-dd"
timeFmt2 = "dd/MM/yy"
timeDiff = ((F.unix_timestamp('Flight_date', format=timeFmt2)
            - F.unix_timestamp('Scrap_date', format=timeFmt1)) / (24 * 3600)).cast(IntegerType())
dt = dt.withColumn("Days", timeDiff)

tt = (F.unix_timestamp('Flight_date', format=timeFmt2) / (24 * 3600)).cast(IntegerType())
dt = dt.withColumn("Flight_date_val", tt)
#dt = dt.drop(*['Flight_date', 'Scrap_date'])
df = dt

Tutaj, chce porownac jaka tabele co jest wyswietlana z tabela df. Tak, że jezeli "Scrap_date", "Scrap_time", "Flight_id", "There_or_back" w temp są takie same jak w df to wtedy do df w tym miejscu jest dodawana count w nowej kolumnie

In [80]:
temp = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).count().orderBy(
["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).show()
#df = df.withColumn('Change_temp', F.lit(0))
#df = df.agg(F.sum(df.Price).alias("Price_sum"))
#df.show()

+----------+----------+---------+-------------+-----+
|Scrap_date|Scrap_time|Flight_id|There_or_back|count|
+----------+----------+---------+-------------+-----+
|2019-05-15|         2|        1|         Back|    2|
|2019-05-15|         2|        1|        There|    2|
|2019-05-15|         2|        2|         Back|    2|
|2019-05-15|         2|        2|        There|    2|
|2019-05-15|         2|        3|         Back|    2|
|2019-05-15|         2|        3|        There|    2|
|2019-05-15|         2|        4|         Back|    2|
|2019-05-15|         2|        4|        There|    2|
|2019-05-15|         2|        5|         Back|    2|
|2019-05-15|         2|        5|        There|    2|
|2019-05-15|         2|        6|         Back|    2|
|2019-05-15|         2|        6|        There|    2|
|2019-05-15|         2|        7|         Back|    2|
|2019-05-15|         2|        7|        There|    2|
|2019-05-15|         2|        8|         Back|    2|
|2019-05-15|         2|        8|        There|    2|
|2019-05-15|         2|        9|         Back|    2|
|2019-05-15|         2|        9|        There|    2|
|2019-05-15|         2|       10|         Back|    2|
|2019-05-15|         2|       10|        There|    2|
+----------+----------+---------+-------------+-----+
only showing top 20 rows

Poniższa komórka nie działa, zadziała, kiedy do df dodamy kolumnę df, która będzie mówiła o przesiadce w danej grupie There / Back

In [ ]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"), #Z tego co widzialem to przesiadki sa tego samego dnia
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Price)).otherwise('none').alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Depart_from)).otherwise('0').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

To co jest ponizej dziala ale nie w przypadku kiedy sa nierowne liczby przesiadek

In [83]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Change).alias("Change"), #To w sumie chyba nie jest potrzebne
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"),
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change) == 1, F.last(df.Price)).otherwise('none').alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Change) == 1, F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Change) == 1, F.last(df.Depart_from)).otherwise('0').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Change) == 1, F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Change) == 1, F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

Do poniższego jeszcze trzeba dodać czas pobytu

In [84]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Days)).otherwise(F.last(dff.Days)).alias('Days'),
    
(F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val)) -
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val))).alias('Journey_time'),
    
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_Back')
)

In [ ]:
dff.show()

Poniżej jakieś moje robocze rzeczy, testy, itp.

In [60]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Change).alias("Change"),
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change) == 1, F.last(df.Price)).otherwise('none').alias('Price2')
    )

In [45]:
dff = dff.orderBy(["There_or_back"])

In [56]:
dff.filter(dff.Flight_id == 72).show()

+----------+----------+---------+-------------+------+--------+--------+------+------+
|Scrap_date|Scrap_time|Flight_id|There_or_back|Change|Airline1|Airline2|Price1|Price2|
+----------+----------+---------+-------------+------+--------+--------+------+------+
|2019-05-18|         2|       72|         Back|     1| easyJet| easyJet|  7.26| 13.67|
|2019-05-18|         2|       72|        There|     1| easyJet| easyJet| 23.42|  36.9|
|2019-05-15|         2|       72|        There|     1| easyJet| easyJet| 14.33| 26.29|
|2019-05-17|         2|       72|         Back|     1| easyJet| easyJet| 16.49| 24.87|
|2019-05-16|         2|       72|         Back|     1| easyJet| easyJet| 14.33| 25.28|
|2019-05-15|         2|       72|         Back|     1| easyJet| easyJet| 14.33| 25.28|
|2019-05-19|         2|       72|        There|     1| easyJet| easyJet| 23.42|  36.9|
|2019-05-16|         2|       72|        There|     1| easyJet| easyJet| 14.33| 26.29|
|2019-05-19|         2|       72|         Back|     1| easyJet| easyJet|  7.26| 13.67|
|2019-05-17|         2|       72|        There|     1| easyJet| easyJet| 18.88| 20.74|
+----------+----------+---------+-------------+------+--------+--------+------+------+

In [42]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
    F.first(dff.Change).alias("Change"),
    F.first(dff.Airline1).alias("Airline1_There"),
    F.last(dff.Airline1).alias("Airline1_Back"),
    F.first(dff.Airline2).alias("Airline2_There"),
    F.last(dff.Airline2).alias("Airline2_Back"),
    F.first(dff.Price1).alias("Price1_There"),
    F.last(dff.Price1).alias("Price1_Back"),
    F.first(dff.Price2).alias("Price2_There"),
    F.last(dff.Price2).alias("Price2_Back"),
    F.first(dff.Depart_hour1).alias("Depart_hour1_There"),
    F.last(dff.Depart_hour1).alias("Depart_hour1_Back"),
    F.first(dff.Depart_hour2).alias("Depart_hour2_There"),
    F.last(dff.Depart_hour2).alias("Depart_hour2_Back"),
    F.first(dff.Depart_from1).alias("Depart_from1_There"),
    F.last(dff.Depart_from1).alias("Depart_from1_Back"),
    F.first(dff.Depart_from2).alias("Depart_from2_There"),
    F.last(dff.Depart_from2).alias("Depart_from2_Back"),
    F.first(dff.Arrival_hour1).alias("Arrival_hour1_There"),
    F.last(dff.Arrival_hour1).alias("Arrival_hour1_Back"),
    F.first(dff.Arrival_hour2).alias("Arrival_hour2_There"),
    F.last(dff.Arrival_hour2).alias("Arrival_hour2_Back"),
    F.first(dff.Arrive_to1).alias("Arrive_to1_There"),
    F.last(dff.Arrive_to1).alias("Arrive_to1_Back"),
    F.first(dff.Arrive_to2).alias("Arrive_to2_There"),
    F.last(dff.Arrive_to2).alias("Arrive_to2_Back"),
)

In [66]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_Back')
)

In [85]:
dff_final.show()

+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
|Scrap_date|Scrap_time|Flight_id|Days|Journey_time|Airline1_There|Airline1_Back|Airline2_There|Airline2_Back|Price1_There|Price1_Back|Price2_There|Price2_Back|Depart_hour1_There|Depart_hour1_Back|Depart_hour2_There|Depart_hour2_Back|  Depart_from1_There|   Depart_from1_Back|  Depart_from2_There|   Depart_from2_Back|Arrival_hour1_There|Arrival_hour1_Back|Arrival_hour2_There|Arrival_hour2_Back|    Arrive_to1_There|     Arrive_to1_Back|    Arrive_to2_There|     Arrive_to2_Back|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
|2019-05-15|         2|       72| 132|           4|       easyJet|      easyJet|       easyJet|      easyJet|       14.33|      14.33|       26.29|      25.28|           morning|          morning|         afternoon|        afternoon|          Vienna VIE|            Graz GRZ|Berlin TXLBerlin ...|Berlin TXLBerlin ...|          afternoon|           morning|          afternoon|         afternoon|Berlin TXLBerlin ...|Berlin TXLBerlin ...|            Graz GRZ|          Vienna VIE|
|2019-05-15|         2|       82| 294|           4|       easyJet|      easyJet|       easyJet|      easyJet|       22.99|      25.49|       17.87|      17.87|           morning|        afternoon|         afternoon|          evening|          Vienna VIE|        Salzburg SZG|Berlin SXFBerlin ...|Berlin SXFBerlin ...|            morning|           evening|          afternoon|           evening|Berlin SXFBerlin ...|Berlin SXFBerlin ...|        Salzburg SZG|          Vienna VIE|
|2019-05-15|         2|      112| 155|           4|       easyJet|      easyJet|       easyJet|    Eurowings|       34.03|      16.86|       11.14|      39.99|         afternoon|          morning|           evening|          morning|        Salzburg SZG|          Vienna VIE|Berlin SXFBerlin ...|Berlin TXLBerlin ...|          afternoon|           morning|            evening|           morning|Berlin SXFBerlin ...|Berlin TXLBerlin ...|          Vienna VIE|        Salzburg SZG|
|2019-05-15|         2|      129| 141|           7|     Eurowings|    Eurowings|     Eurowings|      easyJet|       99.99|      49.99|       69.99|      20.74|           morning|        afternoon|           evening|        afternoon|            Graz GRZ|        Salzburg SZG|      Palma Mall PMI|Berlin TXLBerlin ...|          afternoon|         afternoon|            evening|         afternoon|Palma Mall PMI EW...|Berlin TXLBerlin ...|        Salzburg SZG|            Graz GRZ|
|2019-05-15|         2|      314| 142|           6|   Laudamotion|    Eurowings|       Ryanair|    Eurowings|       19.99|      34.99|       19.99|      34.99|           morning|        afternoon|           evening|        afternoon|          Vienna VIE|           Zadar ZAD|Milan BGYMilan (B...|           Zadar ZAD|          afternoon|         afternoon|            evening|         afternoon|Milan BGYMilan (B...|          Vienna VIE|           Zadar ZAD|          Vienna VIE|
|2019-05-15|         2|      516| 186|           5|   Laudamotion|      Ryanair|   Laudamotion|     Wizz Air|       29.57|       5.92|       29.57|       9.05|         afternoon|          morning|         afternoon|        afternoon|          Vienna VIE|      Copenhagen CPH|          Vienna VIE|          Gdansk GDN|          afternoon|           morning|          afternoon|         afternoon|      Copenhagen CPH|   Gdansk GDN FR6845|      Copenhagen CPH|          Vienna VIE|
|2019-05-15|         2|      970| 202|           8|   Laudamotion|      easyJet|   Laudamotion|     Wizz Air|       23.86|       15.2|       23.86|      14.99|         afternoon|        afternoon|         afternoon|          evening|          Vienna VIE|        Bordeaux BOD|          Vienna VIE|Milan MXPMilan (M...|            evening|         afternoon|            evening|           evening|        Bordeaux BOD|Milan MXPMilan (M...|        Bordeaux BOD|          Vienna VIE|
|2019-05-15|         2|     1036|  62|           8|      Wizz Air|     Wizz Air|          none|         none|       14.99|      14.99|        none|       none|           morning|        afternoon|              none|             none|          Vienna VIE|        Dortmund DTM|                   0|                   0|          afternoon|         afternoon|               none|              none|        Dortmund DTM|          Vienna VIE|                none|                none|
|2019-05-15|         2|     1225|   7|           6|     Eurowings|  Laudamotion|          none|         none|       49.99|       9.99|        none|       none|           morning|        afternoon|              none|             none|          Vienna VIE|             Kos KGS|                   0|                   0|          afternoon|         afternoon|               none|              none|             Kos KGS|          Vienna VIE|                none|                none|
|2019-05-15|         2|     1410|  22|           7|   Laudamotion|      Ryanair|       Ryanair|  Laudamotion|       19.99|      17.99|       20.74|      23.04|           morning|          morning|           morning|          evening|          Vienna VIE|         Shannon SNN|London STNLondon ...|London STNLondon ...|            morning|           morning|            morning|           evening|London STNLondon ...|London STNLondon ...|         Shannon SNN|          Vienna VIE|
|2019-05-15|         2|     2030| 105|           8|      Wizz Air|      easyJet|      Wizz Air|      easyJet|        9.99|       4.64|        9.99|      18.21|         afternoon|          morning|         afternoon|        afternoon|          Vienna VIE|          Warsaw WAW|          Vienna VIE|Berlin TXLBerlin ...|          afternoon|           morning|          afternoon|           evening|          Warsaw WAW|Berlin TXLBerlin ...|          Warsaw WAW|          Vienna VIE|
|2019-05-15|         2|     2213| 139|           8|      Wizz Air|      easyJet|       easyJet|      easyJet|       14.99|      14.37|       18.91|      20.29|             night|          morning|           morning|        afternoon|          Vienna VIE|          Lisbon LIS|          Madrid MAD|          Geneva GVA|            morning|           morning|            morning|         afternoon|   Madrid MAD W62845|   Geneva GVA U21442|          Lisbon LIS|          Vienna VIE|
|2019-05-15|         2|     2395| 255|           5|      Wizz Air|     Wizz Air|          none|         none|       14.99|      24.99|        none|       none|         afternoon|          evening|              none|             none|          Vienna VIE|          Malaga AGP|                   0|                   0|            evening|           evening|               none|              none|          Malaga AGP|          Vienna VIE|                none|                none|
|2019-05-15|         2|     2615| 162|           4|       Ryanair|      easyJet|       easyJet|      Ryanair|       22.39|      25.49|       18.21|      19.99|           morning|          morning|           morning|          evening|        Brussels BRU|        Salzburg SZG|Berlin SXFBerlin ...|Berlin SXFBerlin ...|            morning|           morning|          afternoon|           evening|Berlin SXFBerlin ...|Berlin SXFBerlin ...|        Salzburg SZG|        Brussels BRU|
|2019-05-15|         2|     2659|   7|           4|     Jetairfly|  Laudamotion|   Laudamotion|    Jetairfly|       39.99|     117.29|        9.99|      39.99|         afternoon|            night|           evening|          evening|           Liege LGG|          Vienna VIE|      Palma Mall PMI|          Rhodes RHO|          afternoon|           morning|            evening|           evening|Palma Mall PMI TB...|    Rhodes RHO OE602|          Vienna VIE|           Liege LGG|
|2019-05-15|         2|     2759|   2|           4|     Jetairfly|    Jetairfly|     Jetairfly|      Ryanair|       89.99|      79.99|       29.99|      44.56|           morning|          morning|           morning|        afternoon|        Brussels BRU|Antwerp ANRAntwer...|      Palma Mall PMI|        Alicante ALC|            morning|           morning|          afternoon|         afternoon|Palma Mall PMI TB...| Alicante ALC TB1101|Antwerp ANRAntwer...|        Brussels BRU|
|2019-05-15|         2|     3526|  42|           6|       Ryanair|     Wizz Air|       Ryanair|     Wizz Air|       16.79|      24.99|        8.99|       9.22|           morning|          morning|           evening|        afternoon|Brussels CRLBruss...|       Frankfurt FRA|Milan BGYMilan (B...|        Budapest BUD|            morning|           morning|            evening|           evening|Milan BGYMilan (B...| Budapest BUD W62314|       Frankfurt FRA|Brussels CRLBruss...|
|2019-05-15|         2|     3637| 203|           7|       Ryanair|      Ryanair|          none|         none|       28.99|      27.73|        none|       none|         afternoon|          evening|              none|             none|Brussels CRLBruss...|      Thessaloni SKG|                   0|                   0|            evening|           evening|               none|              none|      Thessaloni SKG|Brussels CRLBruss...|                none|                none|
|2019-05-15|         2|     3779| 207|           5|       Ryanair|      easyJet|       Ryanair|      Ryanair|       28.99|      15.49|       28.99|      25.85|         afternoon|        afternoon|         afternoon|          evening|Brussels CRLBruss...|      Thessaloni SKG|Brussels CRLBruss...|      Manchester MAN|            evening|         afternoon|            evening|           evening|      Thessaloni SKG|Manchester MAN U2...|      Thessaloni SKG|Brussels CRLBruss...|
|2019-05-15|         2|     4728| 193|           5|       Ryanair|     Wizz Air|      Wizz Air|      Ryanair|       20.39|      44.99|       47.43|      19.05|         afternoon|          morning|         afternoon|          evening|Brussels CRLBruss...|Moscow VKOMoscow ...|        Budapest BUD|        Budapest BUD|          afternoon|           morning|            evening|           evening| Budapest BUD FR8416| Budapest BUD W62490|Moscow VKOMoscow ...|Brussels CRLBruss...|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [25]:
df.show()

+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|    Airline|Arrival_hour|           Arrive_to|Change|Country_from|Country_to|         Depart_from|Depart_hour|Flight_date|Flight_id|Price|Scrap_date|Scrap_time|There_or_Back|Days|Flight_date_val|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        1| 9.99|2019-05-15|         2|        There|  60|     1563055200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        1| 9.05|2019-05-15|         2|        There|  60|     1563055200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        1| 9.99|2019-05-15|         2|         Back|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        1|  2.3|2019-05-15|         2|         Back|  67|     1563660000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        2| 9.99|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        2|  2.3|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   28/07/19|        2| 9.99|2019-05-15|         2|         Back|  74|     1564264800|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   28/07/19|        2| 9.05|2019-05-15|         2|         Back|  74|     1564264800|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        3| 9.99|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        3|  2.3|2019-05-15|         2|        There|  67|     1563660000|
|   Wizz Air|   afternoon|Rome FCORome (Fiu...|     1|     Austria|   Austria|          Vienna VIE|  afternoon|   29/07/19|        3| 9.99|2019-05-15|         2|         Back|  75|     1564351200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|Rome FCORome (Fiu...|    evening|   29/07/19|        3|14.99|2019-05-15|         2|         Back|  75|     1564351200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   09/06/19|        4| 9.99|2019-05-15|         2|        There|  25|     1560031200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   09/06/19|        4| 9.05|2019-05-15|         2|        There|  25|     1560031200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   16/06/19|        4| 9.99|2019-05-15|         2|         Back|  32|     1560636000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   16/06/19|        4| 9.05|2019-05-15|         2|         Back|  32|     1560636000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   07/07/19|        5| 9.99|2019-05-15|         2|        There|  53|     1562450400|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   07/07/19|        5| 9.05|2019-05-15|         2|        There|  53|     1562450400|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        5| 9.99|2019-05-15|         2|         Back|  60|     1563055200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        5| 9.05|2019-05-15|         2|         Back|  60|     1563055200|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
only showing top 20 rows

In [8]:
df = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(F.first(df.Country_from).alias("Country_from"),
                                                               F.first(df.Country_to).alias("Country_to"),
                                                               F.first(df.Change).alias("Change"),
                                                               (F.last(df.Flight_date_val) - F.first(df.Flight_date_val)).alias('Journey_time'),
                                                               F.sum(df.Price).alias("Price")
                                                              )

In [25]:
df.show()

+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
|    Airline|Arrival_hour|  Arrive_to|Change|Country_from|Country_to|Depart_from|Depart_hour|Flight_id|Price|Scrap_time|There_or_Back|Days|Flight_date_val|
+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
|Laudamotion|     morning|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    morning|     1536| 9.99|         2|        There|  24|          18055|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    morning|     1536| 9.99|         2|         Back|  28|          18059|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1537| 9.99|         2|        There|  33|          18064|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1537| 9.99|         2|         Back|  40|          18071|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1538| 9.99|         2|        There|  40|          18071|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1538| 9.99|         2|         Back|  44|          18075|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1539| 9.99|         2|        There|  26|          18057|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1539| 9.99|         2|         Back|  33|          18064|
|Laudamotion|     morning|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    morning|     1540| 9.99|         2|        There|  28|          18059|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1540| 9.99|         2|         Back|  33|          18064|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    evening|     1541| 9.99|         2|        There|  37|          18068|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    morning|     1541| 9.99|         2|         Back|  42|          18073|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    evening|     1542| 9.99|         2|        There|  37|          18068|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1542| 9.99|         2|         Back|  44|          18075|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1543| 9.99|         2|        There|  17|          18048|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1543| 9.99|         2|         Back|  23|          18054|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1544| 9.99|         2|        There|  31|          18062|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1544| 9.99|         2|         Back|  38|          18069|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1545| 9.99|         2|        There|   2|          18033|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1545| 9.99|         2|         Back|   9|          18040|
+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
only showing top 20 rows

In [50]:
d = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_Back"]).agg(F.count('Price').alias('Count'))
d.groupBy('Count').agg(F.max('Count').alias('Max')).show()

+-----+---+
|Count|Max|
+-----+---+
|    1|  1|
|    2|  2|
+-----+---+

In [68]:
d = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(F.count('Price').alias('Count'))
d.groupBy('Count').count().show()

+-----+------+
|Count| count|
+-----+------+
|    3|159202|
|    2|277691|
|    4|247142|
+-----+------+

In [10]:
d.show()

+----------+----------+---------+-----+
|Scrap_date|Scrap_time|Flight_id|Count|
+----------+----------+---------+-----+
|2019-05-15|         2|       72|    4|
|2019-05-15|         2|       82|    4|
|2019-05-15|         2|      112|    4|
|2019-05-15|         2|      129|    4|
|2019-05-15|         2|      314|    3|
|2019-05-15|         2|      516|    3|
|2019-05-15|         2|      970|    3|
|2019-05-15|         2|     1036|    2|
|2019-05-15|         2|     1225|    2|
|2019-05-15|         2|     1410|    4|
|2019-05-15|         2|     2030|    3|
|2019-05-15|         2|     2213|    4|
|2019-05-15|         2|     2395|    2|
|2019-05-15|         2|     2615|    4|
|2019-05-15|         2|     2659|    4|
|2019-05-15|         2|     2759|    4|
|2019-05-15|         2|     3526|    4|
|2019-05-15|         2|     3637|    2|
|2019-05-15|         2|     3779|    3|
|2019-05-15|         2|     4728|    4|
+----------+----------+---------+-----+
only showing top 20 rows

In [ ]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back')
)