In [1]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, StringType
import pyspark.sql.functions as F
import json
import itertools

conf = SparkConf().setAppName('MyFirstStandaloneApp')
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")

In [2]:
def scrap_time_change(t : str):
    return int(t.split(':')[0])

def flights_hours_change(t : str):
    tt = scrap_time_change(t)
    if (tt < 6):
        return 'night'
    elif (tt < 12):
        return 'morning'
    elif (tt < 18):
        return 'afternoon'
    elif (tt < 24):
        return 'evening'

In [22]:
filepath = "2019-05-15.txt,2019-05-16.txt,2019-05-17.txt,2019-05-18.txt,2019-05-19.txt"

#country_from = 'Austria'
#country_to = 'Italy'

flightsRDD = sc.textFile(filepath)
header = flightsRDD.first()
filtered = flightsRDD.filter(lambda line: line != header)
#filtered = filtered.filter(lambda line : (line.split(';')[2] == country_from) & (line.split(';')[3] == country_to))
parts = filtered.map(lambda line: line.split(';'))


flights = parts.map(lambda p:
                   Row(Scrap_date = p[0],
                       Scrap_time = scrap_time_change(p[1]),
                       Country_from = p[2],
                       Country_to = p[3],
                       Flight_id = int(p[4]),
                       There_or_Back = p[5],
                       Flight_date = p[6],
                       Airline = p[7],
                       Change = int(p[8]),
                       Price = float(p[9]),
                       Depart_hour = flights_hours_change(p[10]),
                       Depart_from = p[11],
                       Arrival_hour = flights_hours_change(p[12]),
                       Arrive_to = p[13]
                      ))

sqlContext = SQLContext(sc)
dt = sqlContext.createDataFrame(flights)
dt.registerTempTable("flights")

timeFmt1 = "yyyy-MM-dd"
timeFmt2 = "dd/MM/yy"
timeDiff = ((F.unix_timestamp('Flight_date', format=timeFmt2)
            - F.unix_timestamp('Scrap_date', format=timeFmt1)) / (24 * 3600)).cast(IntegerType())
dt = dt.withColumn("Days", timeDiff)

tt = (F.unix_timestamp('Flight_date', format=timeFmt2) / (24 * 3600)).cast(IntegerType())
dt = dt.withColumn("Flight_date_val", tt)
#dt = dt.drop(*['Flight_date', 'Scrap_date'])
df = dt

Na początku grupuję po "Scrap_date", "Scrap_time", "Flight_id", "There_or_back" i agreguję oddzielnie dla There i Back dla każdej podróży z osobna.

In [23]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Country_From", "Country_to", "Flight_id", "There_or_back"]).agg(
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"), #Z tego co widzialem to przesiadki sa tego samego dnia
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Price)).otherwise(0).alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Depart_from)).otherwise('none').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

Natępnie grupuję po "Scrap_date", "Scrap_time", "Flight_id" i robię z There i Back jeden wiersz dla każdej podróży.

In [24]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Country_From", "Country_to", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Days)).otherwise(F.last(dff.Days)).alias('Days'),
    
(F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val)) -
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val))).alias('Journey_time'),
    
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_Back')
)

In [25]:
dff_final = dff_final.drop(*['Scrap_date', 'Flight_id'])
dff_final = dff_final.withColumn('Full_Price', dff_final['Price1_There'] + dff_final['Price2_There'] + 
                                                dff_final['Price1_Back'] + dff_final['Price2_Back'])
dff_final = dff_final.dropDuplicates()

In [26]:
dff_final.show()

+----------+------------+----------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|Scrap_time|Country_From|Country_to|Days|Journey_time|Airline1_There|Airline1_Back|Airline2_There|Airline2_Back|Price1_There|Price1_Back|Price2_There|Price2_Back|Depart_hour1_There|Depart_hour1_Back|Depart_hour2_There|Depart_hour2_Back|  Depart_from1_There|   Depart_from1_Back|  Depart_from2_There|   Depart_from2_Back|Arrival_hour1_There|Arrival_hour1_Back|Arrival_hour2_There|Arrival_hour2_Back|    Arrive_to1_There|     Arrive_to1_Back|    Arrive_to2_There|     Arrive_to2_Back|        Full_Price|
+----------+------------+----------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|         2|     Denmark|     Italy|  20|           6|       easyJet|      Ryanair|          none|      Ryanair|       10.25|       8.99|         0.0|      17.17|           evening|          morning|              none|          evening|      Copenhagen CPH|Milan MXPMilan (M...|                none|London STNLondon ...|            evening|           morning|               none|           evening|Milan MXPMilan (M...|London STNLondon ...|                none|      Copenhagen CPH|36.410000000000004|
|         5|      Russia|    Norway| 110|           5|     airBaltic|    norwegian|     norwegian|    airBaltic|       48.99|      50.91|       39.95|      38.99|             night|          morning|         afternoon|          evening|      Kaliningra KGD|       Trondheim TRD|            Riga RIX|            Riga RIX|            morning|         afternoon|          afternoon|           evening|      Riga RIX BT455|     Riga RIX DY1078|       Trondheim TRD|      Kaliningra KGD|            178.84|
|         8|     Belgium|    Russia| 191|           5|       Ryanair|     Wizz Air|      Wizz Air|      Ryanair|       20.39|      44.99|        47.4|      19.03|         afternoon|          morning|         afternoon|          evening|Brussels CRLBruss...|Moscow VKOMoscow ...|        Budapest BUD|        Budapest BUD|          afternoon|           morning|            evening|           evening| Budapest BUD FR8416| Budapest BUD W62490|Moscow VKOMoscow ...|Brussels CRLBruss...|            131.81|
|        16|      Greece|    Norway| 167|           8|       Ryanair|      Ryanair|     norwegian|      Ryanair|       24.99|       2.84|        43.9|      41.93|           morning|          morning|           evening|        afternoon|      Thessaloni SKG|Oslo OSLOslo (Gar...|Berlin SXFBerlin ...|London STNLondon ...|            morning|           morning|            evening|           evening|Berlin SXFBerlin ...|London STNLondon ...|Oslo OSLOslo (Gar...|      Thessaloni SKG|            113.66|
|        22|      Poland|   Belgium|  19|           7|       Ryanair|      Ryanair|       Ryanair|      Ryanair|        9.06|      14.99|       14.99|       9.99|         afternoon|          morning|         afternoon|          morning|        Katowice KTW|Brussels CRLBruss...|Milan BGYMilan (B...|Milan BGYMilan (B...|          afternoon|           morning|          afternoon|         afternoon|Milan BGYMilan (B...|Milan BGYMilan (B...|Brussels CRLBruss...|        Katowice KTW|             49.03|
|        23|      Russia|     Italy| 192|           4|        Pobeda|       Pobeda|          none|         none|       45.05|      68.61|         0.0|        0.0|           morning|        afternoon|              none|             none|Moscow VKOMoscow ...|            Pisa PSA|                none|                none|            morning|         afternoon|               none|              none|            Pisa PSA|Moscow VKOMoscow ...|                none|                none|            113.66|
|        20|     Austria|  Portugal| 190|           8|   Laudamotion|      easyJet|          none|      easyJet|       36.71|      10.49|         0.0|      12.59|           morning|          morning|              none|          evening|          Vienna VIE|            Faro FAO|                none|Basel-Mulh BSLBas...|            morning|         afternoon|               none|           evening|            Faro FAO|Basel-Mulh BSLBas...|                none|          Vienna VIE|59.790000000000006|
|        21|     Denmark|  Portugal|  38|           8|       Ryanair|      Ryanair|       Ryanair|      Ryanair|       12.88|      19.99|        26.2|       27.2|         afternoon|        afternoon|           evening|          evening|         Billund BLL|            Faro FAO|      Manchester MAN|London STNLondon ...|          afternoon|         afternoon|            evening|           evening|Manchester MAN FR...|London STNLondon ...|            Faro FAO|         Billund BLL|             86.27|
|        23|      Russia|   Germany| 195|           6|      Wizz Air|       Pobeda|       easyJet|         none|       44.99|      49.14|       20.54|        0.0|           morning|          evening|           evening|             none|Moscow VKOMoscow ...|Berlin TXLBerlin ...|        Budapest BUD|                none|            morning|           evening|            evening|              none| Budapest BUD W62490|Moscow VKOMoscow ...|Berlin TXLBerlin ...|                none|            114.67|
|         4|      Poland|   Austria|  57|           5|   Laudamotion|  Laudamotion|          none|         none|        9.05|       9.99|         0.0|        0.0|         afternoon|        afternoon|              none|             none|          Krakow KRK|          Vienna VIE|                none|                none|          afternoon|           evening|               none|              none|          Vienna VIE|          Krakow KRK|                none|                none|             19.04|
|         2|     Belgium|   Ireland| 147|           8|       Ryanair|      Ryanair|          none|      easyJet|       24.99|      28.99|         0.0|      11.12|           evening|          morning|              none|          evening|        Brussels BRU|          Dublin DUB|                none|Basel-Mulh BSLBas...|            evening|           morning|               none|           evening|          Dublin DUB|Basel-Mulh BSLBas...|                none|        Brussels BRU|              65.1|
|         8|     Denmark|   Croatia|  13|           7|       easyJet|      Ryanair|       easyJet|      Ryanair|       21.75|      22.99|       15.69|      17.26|           morning|        afternoon|         afternoon|          evening|      Copenhagen CPH|           Zadar ZAD|Berlin TXLBerlin ...|London STNLondon ...|            morning|         afternoon|          afternoon|           evening|Berlin TXLBerlin ...|London STNLondon ...|           Zadar ZAD|      Copenhagen CPH|             77.69|
|        22|     Ireland|     Spain| 154|           7|       Ryanair|      Ryanair|          none|         none|        31.2|       31.2|         0.0|        0.0|           evening|        afternoon|              none|             none|          Dublin DUB|Barcelona GROBarc...|                none|                none|            evening|           evening|               none|              none|Barcelona GROBarc...|          Dublin DUB|                none|                none|              62.4|
|        23|      Poland|   Denmark|  29|           4|       Ryanair|      Ryanair|       easyJet|         none|        9.06|      17.81|       18.21|        0.0|           morning|          evening|           evening|             none|          Krakow KRK|      Copenhagen CPH|Berlin TXLBerlin ...|                none|            morning|             night|            evening|              none|Berlin TXLBerlin ...|          Krakow KRK|      Copenhagen CPH|                none|             45.08|
|         8|     Belgium|    Norway|  79|           8|       Ryanair|      Widerøe|       Widerøe|      Ryanair|       24.47|       51.0|        67.0|      36.74|           morning|          morning|           evening|          evening|Brussels CRLBruss...|      Kristiansa KRS|      Copenhagen CPH|      Copenhagen CPH|            morning|           morning|            evening|           evening|Copenhagen CPH FR201|Copenhagen CPH WF262|      Kristiansa KRS|Brussels CRLBruss...|            179.21|
|        10|     Ireland|   Denmark|  26|           7|       Ryanair|      Ryanair|       Ryanair|      Ryanair|       17.99|       14.6|       17.18|      20.62|         afternoon|          morning|           evening|          evening|            Cork ORK|      Copenhagen CPH|London STNLondon ...|London STNLondon ...|          afternoon|           morning|            evening|           evening|London STNLondon ...|London STNLondon ...|      Copenhagen CPH|            Cork ORK|             70.39|
|         2|     Austria|   Germany| 184|           8|       easyJet|      easyJet|          none|         none|        4.99|      22.37|         0.0|        0.0|           evening|        afternoon|              none|             none|       Innsbruck INN|Berlin TXLBerlin ...|                none|                none|            evening|         afternoon|               none|              none|Berlin TXLBerlin ...|       Innsbruck INN|                none|                none|             27.36|
|         4|       Italy|   Austria|  83|           6|   Laudamotion|  Laudamotion|          none|         none|       14.99|      14.99|         0.0|        0.0|           morning|          morning|              none|             none|Milan BGYMilan (B...|          Vienna VIE|                none|                none|            morning|           morning|               none|              none|          Vienna VIE|Milan BGYMilan (B...|                none|                none|             29.98|
|         8|     Belgium|   Ireland|   4|           6|       Ryanair|      Ryanair|       Ryanair|         none|       12.99|      19.99|       17.15|        0.0|           morning|          evening|         afternoon|             none|Brussels CRLBruss...|          Dublin DUB|      Manchester MAN|                none|            morning|           evening|            evening|              none|Manchester MAN FR...|Brussels CRLBruss...|          Dublin DUB|                none|50.129999999999995|
|        10|      Norway|    Russia| 102|           4|     airBaltic|    airBaltic|     airBaltic|    airBaltic|       71.99|      48.99|       38.99|      58.99|           evening|            night|           evening|        afternoon|       Stavanger SVG|      Kaliningra KGD|            Riga RIX|            Riga RIX|            evening|           morning|            evening|           evening|      Riga RIX BT178|      Riga RIX BT455|      Kaliningra KGD|       Stavanger SVG|            218.96|
+----------+------------+----------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+
only showing top 20 rows

To co jest poniżej to jakieś moje testy i próby, zostawiam to w notatniku, bo może się przydać, jakby jednak coś jeszcze trzeba było zmieniać.

Tutaj, chce porownac jaka tabele co jest wyswietlana z tabela df. Tak, że jezeli "Scrap_date", "Scrap_time", "Flight_id", "There_or_back" w temp są takie same jak w df to wtedy do df w tym miejscu jest dodawana count w nowej kolumnie

In [91]:
temp = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).count().orderBy(
["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"])
#temp.show()
df = df.withColumn('Change_temp', F.lit(0))
df.select(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).intersect(
    temp.select(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"])).show()
#df = df.agg(F.sum(df.Price).alias("Price_sum"))
#df.show()

Py4JJavaError: An error occurred while calling o3771.showString.
: org.apache.spark.sql.catalyst.errors.package$TreeNodeException: execute, tree:
Exchange hashpartitioning(Scrap_date#6523, Scrap_time#6524L, Flight_id#6521L, There_or_back#6525, 200)
+- *(6) HashAggregate(keys=[Scrap_date#6523, Scrap_time#6524L, Flight_id#6521L, There_or_back#6525], functions=[], output=[Scrap_date#6523, Scrap_time#6524L, Flight_id#6521L, There_or_back#6525])
   +- SortMergeJoin [coalesce(Scrap_date#6523, ), coalesce(Scrap_time#6524L, 0), coalesce(Flight_id#6521L, 0), coalesce(There_or_back#6525, )], [coalesce(Scrap_date#6868, ), coalesce(Scrap_time#6869L, 0), coalesce(Flight_id#6866L, 0), coalesce(There_or_back#6870, )], LeftSemi, ((((Scrap_date#6523 <=> Scrap_date#6868) && (Scrap_time#6524L <=> Scrap_time#6869L)) && (Flight_id#6521L <=> Flight_id#6866L)) && (There_or_back#6525 <=> There_or_back#6870))
      :- *(2) Sort [coalesce(Scrap_date#6523, ) ASC NULLS FIRST, coalesce(Scrap_time#6524L, 0) ASC NULLS FIRST, coalesce(Flight_id#6521L, 0) ASC NULLS FIRST, coalesce(There_or_back#6525, ) ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(coalesce(Scrap_date#6523, ), coalesce(Scrap_time#6524L, 0), coalesce(Flight_id#6521L, 0), coalesce(There_or_back#6525, ), 200)
      :     +- *(1) Project [Scrap_date#6523, Scrap_time#6524L, Flight_id#6521L, There_or_back#6525]
      :        +- Scan ExistingRDD[Airline#6512,Arrival_hour#6513,Arrive_to#6514,Change#6515L,Country_from#6516,Country_to#6517,Depart_from#6518,Depart_hour#6519,Flight_date#6520,Flight_id#6521L,Price#6522,Scrap_date#6523,Scrap_time#6524L,There_or_Back#6525]
      +- *(5) Sort [coalesce(Scrap_date#6868, ) ASC NULLS FIRST, coalesce(Scrap_time#6869L, 0) ASC NULLS FIRST, coalesce(Flight_id#6866L, 0) ASC NULLS FIRST, coalesce(There_or_back#6870, ) ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(coalesce(Scrap_date#6868, ), coalesce(Scrap_time#6869L, 0), coalesce(Flight_id#6866L, 0), coalesce(There_or_back#6870, ), 200)
            +- *(4) HashAggregate(keys=[Scrap_date#6868, Scrap_time#6869L, Flight_id#6866L, There_or_back#6870], functions=[], output=[Scrap_date#6868, Scrap_time#6869L, Flight_id#6866L, There_or_back#6870])
               +- Exchange hashpartitioning(Scrap_date#6868, Scrap_time#6869L, Flight_id#6866L, There_or_back#6870, 200)
                  +- *(3) HashAggregate(keys=[Scrap_date#6868, Scrap_time#6869L, Flight_id#6866L, There_or_back#6870], functions=[], output=[Scrap_date#6868, Scrap_time#6869L, Flight_id#6866L, There_or_back#6870])
                     +- *(3) Project [Flight_id#6866L, Scrap_date#6868, Scrap_time#6869L, There_or_Back#6870]
                        +- Scan ExistingRDD[Airline#6857,Arrival_hour#6858,Arrive_to#6859,Change#6860L,Country_from#6861,Country_to#6862,Depart_from#6863,Depart_hour#6864,Flight_date#6865,Flight_id#6866L,Price#6867,Scrap_date#6868,Scrap_time#6869L,There_or_Back#6870]

	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:56)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.doExecute(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:391)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.inputRDDs(HashAggregateExec.scala:151)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:627)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:247)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:339)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.IllegalArgumentException: Unsupported class file major version 55
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:166)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:148)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:136)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:237)
	at org.apache.spark.util.ClosureCleaner$.getClassReader(ClosureCleaner.scala:49)
	at org.apache.spark.util.FieldAccessFinder$$anon$3$$anonfun$visitMethodInsn$2.apply(ClosureCleaner.scala:517)
	at org.apache.spark.util.FieldAccessFinder$$anon$3$$anonfun$visitMethodInsn$2.apply(ClosureCleaner.scala:500)
	at scala.collection.TraversableLike$WithFilter$$anonfun$foreach$1.apply(TraversableLike.scala:733)
	at scala.collection.mutable.HashMap$$anon$1$$anonfun$foreach$2.apply(HashMap.scala:134)
	at scala.collection.mutable.HashMap$$anon$1$$anonfun$foreach$2.apply(HashMap.scala:134)
	at scala.collection.mutable.HashTable$class.foreachEntry(HashTable.scala:236)
	at scala.collection.mutable.HashMap.foreachEntry(HashMap.scala:40)
	at scala.collection.mutable.HashMap$$anon$1.foreach(HashMap.scala:134)
	at scala.collection.TraversableLike$WithFilter.foreach(TraversableLike.scala:732)
	at org.apache.spark.util.FieldAccessFinder$$anon$3.visitMethodInsn(ClosureCleaner.scala:500)
	at org.apache.xbean.asm6.ClassReader.readCode(ClassReader.java:2175)
	at org.apache.xbean.asm6.ClassReader.readMethod(ClassReader.java:1238)
	at org.apache.xbean.asm6.ClassReader.accept(ClassReader.java:631)
	at org.apache.xbean.asm6.ClassReader.accept(ClassReader.java:355)
	at org.apache.spark.util.ClosureCleaner$$anonfun$org$apache$spark$util$ClosureCleaner$$clean$14.apply(ClosureCleaner.scala:307)
	at org.apache.spark.util.ClosureCleaner$$anonfun$org$apache$spark$util$ClosureCleaner$$clean$14.apply(ClosureCleaner.scala:306)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at org.apache.spark.util.ClosureCleaner$.org$apache$spark$util$ClosureCleaner$$clean(ClosureCleaner.scala:306)
	at org.apache.spark.util.ClosureCleaner$.clean(ClosureCleaner.scala:162)
	at org.apache.spark.SparkContext.clean(SparkContext.scala:2326)
	at org.apache.spark.rdd.RDD$$anonfun$zipPartitions$1.apply(RDD.scala:886)
	at org.apache.spark.rdd.RDD$$anonfun$zipPartitions$1.apply(RDD.scala:886)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.zipPartitions(RDD.scala:885)
	at org.apache.spark.rdd.RDD$$anonfun$zipPartitions$2.apply(RDD.scala:892)
	at org.apache.spark.rdd.RDD$$anonfun$zipPartitions$2.apply(RDD.scala:892)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.zipPartitions(RDD.scala:891)
	at org.apache.spark.sql.execution.joins.SortMergeJoinExec.doExecute(SortMergeJoinExec.scala:150)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:391)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.inputRDDs(HashAggregateExec.scala:151)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:627)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.prepareShuffleDependency(ShuffleExchangeExec.scala:92)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:128)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:52)
	... 42 more

Poniższa komórka nie działa, zadziała, kiedy do df dodamy kolumnę df, która będzie mówiła o przesiadce w danej grupie There / Back

In [11]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"), #Z tego co widzialem to przesiadki sa tego samego dnia
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Price)).otherwise('none').alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Depart_from)).otherwise('0').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Change_temp) == 1, F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

AttributeError: 'DataFrame' object has no attribute 'Change_temp'

To co jest ponizej dziala ale nie w przypadku kiedy sa nierowne liczby przesiadek

In [83]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Change).alias("Change"), #To w sumie chyba nie jest potrzebne
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"),
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change) == 1, F.last(df.Price)).otherwise('none').alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Change) == 1, F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Change) == 1, F.last(df.Depart_from)).otherwise('0').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Change) == 1, F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Change) == 1, F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

In [ ]:
To poniżej co zaraz będzie, powinno być spoko

In [ ]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Days).alias("Days"),
    F.first(df.Flight_date_val).alias("Flight_date_val"), #Z tego co widzialem to przesiadki sa tego samego dnia
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Price)).otherwise(0).alias('Price2'),
    F.first(df.Depart_hour).alias('Depart_hour1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Depart_hour)).otherwise('none').alias('Depart_hour2'),
    F.first(df.Depart_from).alias('Depart_from1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Depart_from)).otherwise('none').alias('Depart_from2'),
    F.first(df.Arrival_hour).alias('Arrival_hour1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Arrival_hour)).otherwise('none').alias('Arrival_hour2'),
    F.first(df.Arrive_to).alias('Arrive_to1'),
    F.when(F.first(df.Depart_from) != F.last(df.Depart_from), F.last(df.Arrive_to)).otherwise('none').alias('Arrive_to2')
    )

Do poniższego jeszcze trzeba dodać czas pobytu (edit. jest już czas pobytu)

In [13]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Days)).otherwise(F.last(dff.Days)).alias('Days'),
    
(F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val)) -
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Flight_date_val)).otherwise(F.last(dff.Flight_date_val))).alias('Journey_time'),
    
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_Back')
)

In [19]:
dff_final.filter(dff_final['Flight_id'] == 1589).show()

+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-------------------+------------------+--------------------+---------------+--------------------+---------------+
|Scrap_date|Scrap_time|Flight_id|Days|Journey_time|Airline1_There|Airline1_Back|Airline2_There|Airline2_Back|Price1_There|Price1_Back|Price2_There|Price2_Back|Depart_hour1_There|Depart_hour1_Back|Depart_hour2_There|Depart_hour2_Back|Depart_from1_There|   Depart_from1_Back|Depart_from2_There|Depart_from2_Back|Arrival_hour1_There|Arrival_hour1_Back|Arrival_hour2_There|Arrival_hour2_Back|    Arrive_to1_There|Arrive_to1_Back|    Arrive_to2_There|Arrive_to2_Back|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-------------------+------------------+--------------------+---------------+--------------------+---------------+
|2019-05-19|         2|     1589|  25|           5|   Laudamotion|  Laudamotion|          none|         none|       14.99|      14.99|         0.0|        0.0|           morning|          morning|              none|             none|        Vienna VIE|Milan BGYMilan (B...|              none|             none|            morning|           morning|               none|              none|Milan BGYMilan (B...|     Vienna VIE|                none|           none|
|2019-05-16|         2|     1589|   6|           7|   Laudamotion|  Laudamotion|   Laudamotion|         none|        9.99|       7.99|        9.99|        0.0|           morning|          morning|         afternoon|             none|        Vienna VIE|Milan BGYMilan (B...|     Stuttgart STR|             none|            morning|           morning|          afternoon|              none| Stuttgart STR OE620|     Vienna VIE|Milan BGYMilan (B...|           none|
|2019-05-18|         2|     1589|  58|           5|   Laudamotion|  Laudamotion|          none|         none|       14.99|      14.99|         0.0|        0.0|           evening|          morning|              none|             none|        Vienna VIE|         Bologna BLQ|              none|             none|            evening|           morning|               none|              none|         Bologna BLQ|     Vienna VIE|                none|           none|
|2019-05-15|         2|     1589|   8|           5|   Laudamotion|  Laudamotion|          none|         none|       17.94|       9.99|         0.0|        0.0|           morning|          evening|              none|             none|        Vienna VIE|            Pisa PSA|              none|             none|            morning|           evening|               none|              none|            Pisa PSA|     Vienna VIE|                none|           none|
|2019-05-17|         2|     1589|  32|           8|   Laudamotion|  Laudamotion|   Laudamotion|         none|        9.99|       9.99|        9.99|        0.0|           morning|        afternoon|           evening|             none|        Vienna VIE|         Bologna BLQ|     Stuttgart STR|             none|            morning|         afternoon|            evening|              none| Stuttgart STR OE620|     Vienna VIE|         Bologna BLQ|           none|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-------------------+------------------+--------------------+---------------+--------------------+---------------+

Poniżej jakieś moje robocze rzeczy, testy, itp.

In [87]:
df.show()

+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|    Airline|Arrival_hour|           Arrive_to|Change|Country_from|Country_to|         Depart_from|Depart_hour|Flight_date|Flight_id|Price|Scrap_date|Scrap_time|There_or_Back|Days|Flight_date_val|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        1| 9.99|2019-05-15|         2|        There|  60|          18090|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        1| 9.05|2019-05-15|         2|        There|  60|          18090|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        1| 9.99|2019-05-15|         2|         Back|  67|          18097|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        1|  2.3|2019-05-15|         2|         Back|  67|          18097|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        2| 9.99|2019-05-15|         2|        There|  67|          18097|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        2|  2.3|2019-05-15|         2|        There|  67|          18097|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   28/07/19|        2| 9.99|2019-05-15|         2|         Back|  74|          18104|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   28/07/19|        2| 9.05|2019-05-15|         2|         Back|  74|          18104|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        3| 9.99|2019-05-15|         2|        There|  67|          18097|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        3|  2.3|2019-05-15|         2|        There|  67|          18097|
|   Wizz Air|   afternoon|Rome FCORome (Fiu...|     1|     Austria|   Austria|          Vienna VIE|  afternoon|   29/07/19|        3| 9.99|2019-05-15|         2|         Back|  75|          18105|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|Rome FCORome (Fiu...|    evening|   29/07/19|        3|14.99|2019-05-15|         2|         Back|  75|          18105|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   09/06/19|        4| 9.99|2019-05-15|         2|        There|  25|          18055|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   09/06/19|        4| 9.05|2019-05-15|         2|        There|  25|          18055|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   16/06/19|        4| 9.99|2019-05-15|         2|         Back|  32|          18062|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   16/06/19|        4| 9.05|2019-05-15|         2|         Back|  32|          18062|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   07/07/19|        5| 9.99|2019-05-15|         2|        There|  53|          18083|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   07/07/19|        5| 9.05|2019-05-15|         2|        There|  53|          18083|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        5| 9.99|2019-05-15|         2|         Back|  60|          18090|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        5| 9.05|2019-05-15|         2|         Back|  60|          18090|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
only showing top 20 rows

In [60]:
dff = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_back"]).agg(
    F.first(df.Change).alias("Change"),
    F.first(df.Airline).alias('Airline1'),
    F.when(F.first(df.Change) == 1, F.last(df.Airline)).otherwise('none').alias('Airline2'),
    F.first(df.Price).alias('Price1'),
    F.when(F.first(df.Change) == 1, F.last(df.Price)).otherwise('none').alias('Price2')
    )

In [45]:
dff = dff.orderBy(["There_or_back"])

In [56]:
dff.filter(dff.Flight_id == 72).show()

+----------+----------+---------+-------------+------+--------+--------+------+------+
|Scrap_date|Scrap_time|Flight_id|There_or_back|Change|Airline1|Airline2|Price1|Price2|
+----------+----------+---------+-------------+------+--------+--------+------+------+
|2019-05-18|         2|       72|         Back|     1| easyJet| easyJet|  7.26| 13.67|
|2019-05-18|         2|       72|        There|     1| easyJet| easyJet| 23.42|  36.9|
|2019-05-15|         2|       72|        There|     1| easyJet| easyJet| 14.33| 26.29|
|2019-05-17|         2|       72|         Back|     1| easyJet| easyJet| 16.49| 24.87|
|2019-05-16|         2|       72|         Back|     1| easyJet| easyJet| 14.33| 25.28|
|2019-05-15|         2|       72|         Back|     1| easyJet| easyJet| 14.33| 25.28|
|2019-05-19|         2|       72|        There|     1| easyJet| easyJet| 23.42|  36.9|
|2019-05-16|         2|       72|        There|     1| easyJet| easyJet| 14.33| 26.29|
|2019-05-19|         2|       72|         Back|     1| easyJet| easyJet|  7.26| 13.67|
|2019-05-17|         2|       72|        There|     1| easyJet| easyJet| 18.88| 20.74|
+----------+----------+---------+-------------+------+--------+--------+------+------+

In [42]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
    F.first(dff.Change).alias("Change"),
    F.first(dff.Airline1).alias("Airline1_There"),
    F.last(dff.Airline1).alias("Airline1_Back"),
    F.first(dff.Airline2).alias("Airline2_There"),
    F.last(dff.Airline2).alias("Airline2_Back"),
    F.first(dff.Price1).alias("Price1_There"),
    F.last(dff.Price1).alias("Price1_Back"),
    F.first(dff.Price2).alias("Price2_There"),
    F.last(dff.Price2).alias("Price2_Back"),
    F.first(dff.Depart_hour1).alias("Depart_hour1_There"),
    F.last(dff.Depart_hour1).alias("Depart_hour1_Back"),
    F.first(dff.Depart_hour2).alias("Depart_hour2_There"),
    F.last(dff.Depart_hour2).alias("Depart_hour2_Back"),
    F.first(dff.Depart_from1).alias("Depart_from1_There"),
    F.last(dff.Depart_from1).alias("Depart_from1_Back"),
    F.first(dff.Depart_from2).alias("Depart_from2_There"),
    F.last(dff.Depart_from2).alias("Depart_from2_Back"),
    F.first(dff.Arrival_hour1).alias("Arrival_hour1_There"),
    F.last(dff.Arrival_hour1).alias("Arrival_hour1_Back"),
    F.first(dff.Arrival_hour2).alias("Arrival_hour2_There"),
    F.last(dff.Arrival_hour2).alias("Arrival_hour2_Back"),
    F.first(dff.Arrive_to1).alias("Arrive_to1_There"),
    F.last(dff.Arrive_to1).alias("Arrive_to1_Back"),
    F.first(dff.Arrive_to2).alias("Arrive_to2_There"),
    F.last(dff.Arrive_to2).alias("Arrive_to2_Back"),
)

In [66]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour1)).otherwise(F.last(dff.Depart_hour1)).alias('Depart_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_hour2)).otherwise(F.last(dff.Depart_hour2)).alias('Depart_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from1)).otherwise(F.last(dff.Depart_from1)).alias('Depart_from1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Depart_from2)).otherwise(F.last(dff.Depart_from2)).alias('Depart_from2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour1)).otherwise(F.last(dff.Arrival_hour1)).alias('Arrival_hour1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrival_hour2)).otherwise(F.last(dff.Arrival_hour2)).alias('Arrival_hour2_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to1)).otherwise(F.last(dff.Arrive_to1)).alias('Arrive_to1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Arrive_to2)).otherwise(F.last(dff.Arrive_to2)).alias('Arrive_to2_Back')
)

In [85]:
dff_final.show()

+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
|Scrap_date|Scrap_time|Flight_id|Days|Journey_time|Airline1_There|Airline1_Back|Airline2_There|Airline2_Back|Price1_There|Price1_Back|Price2_There|Price2_Back|Depart_hour1_There|Depart_hour1_Back|Depart_hour2_There|Depart_hour2_Back|  Depart_from1_There|   Depart_from1_Back|  Depart_from2_There|   Depart_from2_Back|Arrival_hour1_There|Arrival_hour1_Back|Arrival_hour2_There|Arrival_hour2_Back|    Arrive_to1_There|     Arrive_to1_Back|    Arrive_to2_There|     Arrive_to2_Back|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
|2019-05-15|         2|       72| 132|           4|       easyJet|      easyJet|       easyJet|      easyJet|       14.33|      14.33|       26.29|      25.28|           morning|          morning|         afternoon|        afternoon|          Vienna VIE|            Graz GRZ|Berlin TXLBerlin ...|Berlin TXLBerlin ...|          afternoon|           morning|          afternoon|         afternoon|Berlin TXLBerlin ...|Berlin TXLBerlin ...|            Graz GRZ|          Vienna VIE|
|2019-05-15|         2|       82| 294|           4|       easyJet|      easyJet|       easyJet|      easyJet|       22.99|      25.49|       17.87|      17.87|           morning|        afternoon|         afternoon|          evening|          Vienna VIE|        Salzburg SZG|Berlin SXFBerlin ...|Berlin SXFBerlin ...|            morning|           evening|          afternoon|           evening|Berlin SXFBerlin ...|Berlin SXFBerlin ...|        Salzburg SZG|          Vienna VIE|
|2019-05-15|         2|      112| 155|           4|       easyJet|      easyJet|       easyJet|    Eurowings|       34.03|      16.86|       11.14|      39.99|         afternoon|          morning|           evening|          morning|        Salzburg SZG|          Vienna VIE|Berlin SXFBerlin ...|Berlin TXLBerlin ...|          afternoon|           morning|            evening|           morning|Berlin SXFBerlin ...|Berlin TXLBerlin ...|          Vienna VIE|        Salzburg SZG|
|2019-05-15|         2|      129| 141|           7|     Eurowings|    Eurowings|     Eurowings|      easyJet|       99.99|      49.99|       69.99|      20.74|           morning|        afternoon|           evening|        afternoon|            Graz GRZ|        Salzburg SZG|      Palma Mall PMI|Berlin TXLBerlin ...|          afternoon|         afternoon|            evening|         afternoon|Palma Mall PMI EW...|Berlin TXLBerlin ...|        Salzburg SZG|            Graz GRZ|
|2019-05-15|         2|      314| 142|           6|   Laudamotion|    Eurowings|       Ryanair|    Eurowings|       19.99|      34.99|       19.99|      34.99|           morning|        afternoon|           evening|        afternoon|          Vienna VIE|           Zadar ZAD|Milan BGYMilan (B...|           Zadar ZAD|          afternoon|         afternoon|            evening|         afternoon|Milan BGYMilan (B...|          Vienna VIE|           Zadar ZAD|          Vienna VIE|
|2019-05-15|         2|      516| 186|           5|   Laudamotion|      Ryanair|   Laudamotion|     Wizz Air|       29.57|       5.92|       29.57|       9.05|         afternoon|          morning|         afternoon|        afternoon|          Vienna VIE|      Copenhagen CPH|          Vienna VIE|          Gdansk GDN|          afternoon|           morning|          afternoon|         afternoon|      Copenhagen CPH|   Gdansk GDN FR6845|      Copenhagen CPH|          Vienna VIE|
|2019-05-15|         2|      970| 202|           8|   Laudamotion|      easyJet|   Laudamotion|     Wizz Air|       23.86|       15.2|       23.86|      14.99|         afternoon|        afternoon|         afternoon|          evening|          Vienna VIE|        Bordeaux BOD|          Vienna VIE|Milan MXPMilan (M...|            evening|         afternoon|            evening|           evening|        Bordeaux BOD|Milan MXPMilan (M...|        Bordeaux BOD|          Vienna VIE|
|2019-05-15|         2|     1036|  62|           8|      Wizz Air|     Wizz Air|          none|         none|       14.99|      14.99|        none|       none|           morning|        afternoon|              none|             none|          Vienna VIE|        Dortmund DTM|                   0|                   0|          afternoon|         afternoon|               none|              none|        Dortmund DTM|          Vienna VIE|                none|                none|
|2019-05-15|         2|     1225|   7|           6|     Eurowings|  Laudamotion|          none|         none|       49.99|       9.99|        none|       none|           morning|        afternoon|              none|             none|          Vienna VIE|             Kos KGS|                   0|                   0|          afternoon|         afternoon|               none|              none|             Kos KGS|          Vienna VIE|                none|                none|
|2019-05-15|         2|     1410|  22|           7|   Laudamotion|      Ryanair|       Ryanair|  Laudamotion|       19.99|      17.99|       20.74|      23.04|           morning|          morning|           morning|          evening|          Vienna VIE|         Shannon SNN|London STNLondon ...|London STNLondon ...|            morning|           morning|            morning|           evening|London STNLondon ...|London STNLondon ...|         Shannon SNN|          Vienna VIE|
|2019-05-15|         2|     2030| 105|           8|      Wizz Air|      easyJet|      Wizz Air|      easyJet|        9.99|       4.64|        9.99|      18.21|         afternoon|          morning|         afternoon|        afternoon|          Vienna VIE|          Warsaw WAW|          Vienna VIE|Berlin TXLBerlin ...|          afternoon|           morning|          afternoon|           evening|          Warsaw WAW|Berlin TXLBerlin ...|          Warsaw WAW|          Vienna VIE|
|2019-05-15|         2|     2213| 139|           8|      Wizz Air|      easyJet|       easyJet|      easyJet|       14.99|      14.37|       18.91|      20.29|             night|          morning|           morning|        afternoon|          Vienna VIE|          Lisbon LIS|          Madrid MAD|          Geneva GVA|            morning|           morning|            morning|         afternoon|   Madrid MAD W62845|   Geneva GVA U21442|          Lisbon LIS|          Vienna VIE|
|2019-05-15|         2|     2395| 255|           5|      Wizz Air|     Wizz Air|          none|         none|       14.99|      24.99|        none|       none|         afternoon|          evening|              none|             none|          Vienna VIE|          Malaga AGP|                   0|                   0|            evening|           evening|               none|              none|          Malaga AGP|          Vienna VIE|                none|                none|
|2019-05-15|         2|     2615| 162|           4|       Ryanair|      easyJet|       easyJet|      Ryanair|       22.39|      25.49|       18.21|      19.99|           morning|          morning|           morning|          evening|        Brussels BRU|        Salzburg SZG|Berlin SXFBerlin ...|Berlin SXFBerlin ...|            morning|           morning|          afternoon|           evening|Berlin SXFBerlin ...|Berlin SXFBerlin ...|        Salzburg SZG|        Brussels BRU|
|2019-05-15|         2|     2659|   7|           4|     Jetairfly|  Laudamotion|   Laudamotion|    Jetairfly|       39.99|     117.29|        9.99|      39.99|         afternoon|            night|           evening|          evening|           Liege LGG|          Vienna VIE|      Palma Mall PMI|          Rhodes RHO|          afternoon|           morning|            evening|           evening|Palma Mall PMI TB...|    Rhodes RHO OE602|          Vienna VIE|           Liege LGG|
|2019-05-15|         2|     2759|   2|           4|     Jetairfly|    Jetairfly|     Jetairfly|      Ryanair|       89.99|      79.99|       29.99|      44.56|           morning|          morning|           morning|        afternoon|        Brussels BRU|Antwerp ANRAntwer...|      Palma Mall PMI|        Alicante ALC|            morning|           morning|          afternoon|         afternoon|Palma Mall PMI TB...| Alicante ALC TB1101|Antwerp ANRAntwer...|        Brussels BRU|
|2019-05-15|         2|     3526|  42|           6|       Ryanair|     Wizz Air|       Ryanair|     Wizz Air|       16.79|      24.99|        8.99|       9.22|           morning|          morning|           evening|        afternoon|Brussels CRLBruss...|       Frankfurt FRA|Milan BGYMilan (B...|        Budapest BUD|            morning|           morning|            evening|           evening|Milan BGYMilan (B...| Budapest BUD W62314|       Frankfurt FRA|Brussels CRLBruss...|
|2019-05-15|         2|     3637| 203|           7|       Ryanair|      Ryanair|          none|         none|       28.99|      27.73|        none|       none|         afternoon|          evening|              none|             none|Brussels CRLBruss...|      Thessaloni SKG|                   0|                   0|            evening|           evening|               none|              none|      Thessaloni SKG|Brussels CRLBruss...|                none|                none|
|2019-05-15|         2|     3779| 207|           5|       Ryanair|      easyJet|       Ryanair|      Ryanair|       28.99|      15.49|       28.99|      25.85|         afternoon|        afternoon|         afternoon|          evening|Brussels CRLBruss...|      Thessaloni SKG|Brussels CRLBruss...|      Manchester MAN|            evening|         afternoon|            evening|           evening|      Thessaloni SKG|Manchester MAN U2...|      Thessaloni SKG|Brussels CRLBruss...|
|2019-05-15|         2|     4728| 193|           5|       Ryanair|     Wizz Air|      Wizz Air|      Ryanair|       20.39|      44.99|       47.43|      19.05|         afternoon|          morning|         afternoon|          evening|Brussels CRLBruss...|Moscow VKOMoscow ...|        Budapest BUD|        Budapest BUD|          afternoon|           morning|            evening|           evening| Budapest BUD FR8416| Budapest BUD W62490|Moscow VKOMoscow ...|Brussels CRLBruss...|
+----------+----------+---------+----+------------+--------------+-------------+--------------+-------------+------------+-----------+------------+-----------+------------------+-----------------+------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+-------------------+------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [25]:
df.show()

+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|    Airline|Arrival_hour|           Arrive_to|Change|Country_from|Country_to|         Depart_from|Depart_hour|Flight_date|Flight_id|Price|Scrap_date|Scrap_time|There_or_Back|Days|Flight_date_val|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        1| 9.99|2019-05-15|         2|        There|  60|     1563055200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        1| 9.05|2019-05-15|         2|        There|  60|     1563055200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        1| 9.99|2019-05-15|         2|         Back|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        1|  2.3|2019-05-15|         2|         Back|  67|     1563660000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        2| 9.99|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        2|  2.3|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   28/07/19|        2| 9.99|2019-05-15|         2|         Back|  74|     1564264800|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   28/07/19|        2| 9.05|2019-05-15|         2|         Back|  74|     1564264800|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   21/07/19|        3| 9.99|2019-05-15|         2|        There|  67|     1563660000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   21/07/19|        3|  2.3|2019-05-15|         2|        There|  67|     1563660000|
|   Wizz Air|   afternoon|Rome FCORome (Fiu...|     1|     Austria|   Austria|          Vienna VIE|  afternoon|   29/07/19|        3| 9.99|2019-05-15|         2|         Back|  75|     1564351200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|Rome FCORome (Fiu...|    evening|   29/07/19|        3|14.99|2019-05-15|         2|         Back|  75|     1564351200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   09/06/19|        4| 9.99|2019-05-15|         2|        There|  25|     1560031200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   09/06/19|        4| 9.05|2019-05-15|         2|        There|  25|     1560031200|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   16/06/19|        4| 9.99|2019-05-15|         2|         Back|  32|     1560636000|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   16/06/19|        4| 9.05|2019-05-15|         2|         Back|  32|     1560636000|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   07/07/19|        5| 9.99|2019-05-15|         2|        There|  53|     1562450400|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   07/07/19|        5| 9.05|2019-05-15|         2|        There|  53|     1562450400|
|Laudamotion|     evening|   Krakow KRK OE1304|     1|     Austria|   Austria|          Vienna VIE|    evening|   14/07/19|        5| 9.99|2019-05-15|         2|         Back|  60|     1563055200|
|Laudamotion|     evening|          Vienna VIE|     1|     Austria|   Austria|          Krakow KRK|    evening|   14/07/19|        5| 9.05|2019-05-15|         2|         Back|  60|     1563055200|
+-----------+------------+--------------------+------+------------+----------+--------------------+-----------+-----------+---------+-----+----------+----------+-------------+----+---------------+
only showing top 20 rows

In [8]:
df = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(F.first(df.Country_from).alias("Country_from"),
                                                               F.first(df.Country_to).alias("Country_to"),
                                                               F.first(df.Change).alias("Change"),
                                                               (F.last(df.Flight_date_val) - F.first(df.Flight_date_val)).alias('Journey_time'),
                                                               F.sum(df.Price).alias("Price")
                                                              )

In [25]:
df.show()

+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
|    Airline|Arrival_hour|  Arrive_to|Change|Country_from|Country_to|Depart_from|Depart_hour|Flight_id|Price|Scrap_time|There_or_Back|Days|Flight_date_val|
+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
|Laudamotion|     morning|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    morning|     1536| 9.99|         2|        There|  24|          18055|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    morning|     1536| 9.99|         2|         Back|  28|          18059|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1537| 9.99|         2|        There|  33|          18064|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1537| 9.99|         2|         Back|  40|          18071|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1538| 9.99|         2|        There|  40|          18071|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1538| 9.99|         2|         Back|  44|          18075|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|  afternoon|     1539| 9.99|         2|        There|  26|          18057|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1539| 9.99|         2|         Back|  33|          18064|
|Laudamotion|     morning|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    morning|     1540| 9.99|         2|        There|  28|          18059|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1540| 9.99|         2|         Back|  33|          18064|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    evening|     1541| 9.99|         2|        There|  37|          18068|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    morning|     1541| 9.99|         2|         Back|  42|          18073|
|Laudamotion|     evening|   Pisa PSA|     0|     Austria|     Italy| Vienna VIE|    evening|     1542| 9.99|         2|        There|  37|          18068|
|Laudamotion|     evening| Vienna VIE|     0|     Austria|     Italy|   Pisa PSA|    evening|     1542| 9.99|         2|         Back|  44|          18075|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1543| 9.99|         2|        There|  17|          18048|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1543| 9.99|         2|         Back|  23|          18054|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1544| 9.99|         2|        There|  31|          18062|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1544| 9.99|         2|         Back|  38|          18069|
|Laudamotion|     morning|Bologna BLQ|     0|     Austria|     Italy| Vienna VIE|    morning|     1545| 9.99|         2|        There|   2|          18033|
|Laudamotion|     morning| Vienna VIE|     0|     Austria|     Italy|Bologna BLQ|    morning|     1545| 9.99|         2|         Back|   9|          18040|
+-----------+------------+-----------+------+------------+----------+-----------+-----------+---------+-----+----------+-------------+----+---------------+
only showing top 20 rows

In [50]:
d = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id", "There_or_Back"]).agg(F.count('Price').alias('Count'))
d.groupBy('Count').agg(F.max('Count').alias('Max')).show()

+-----+---+
|Count|Max|
+-----+---+
|    1|  1|
|    2|  2|
+-----+---+

In [68]:
d = df.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(F.count('Price').alias('Count'))
d.groupBy('Count').count().show()

+-----+------+
|Count| count|
+-----+------+
|    3|159202|
|    2|277691|
|    4|247142|
+-----+------+

In [10]:
d.show()

+----------+----------+---------+-----+
|Scrap_date|Scrap_time|Flight_id|Count|
+----------+----------+---------+-----+
|2019-05-15|         2|       72|    4|
|2019-05-15|         2|       82|    4|
|2019-05-15|         2|      112|    4|
|2019-05-15|         2|      129|    4|
|2019-05-15|         2|      314|    3|
|2019-05-15|         2|      516|    3|
|2019-05-15|         2|      970|    3|
|2019-05-15|         2|     1036|    2|
|2019-05-15|         2|     1225|    2|
|2019-05-15|         2|     1410|    4|
|2019-05-15|         2|     2030|    3|
|2019-05-15|         2|     2213|    4|
|2019-05-15|         2|     2395|    2|
|2019-05-15|         2|     2615|    4|
|2019-05-15|         2|     2659|    4|
|2019-05-15|         2|     2759|    4|
|2019-05-15|         2|     3526|    4|
|2019-05-15|         2|     3637|    2|
|2019-05-15|         2|     3779|    3|
|2019-05-15|         2|     4728|    4|
+----------+----------+---------+-----+
only showing top 20 rows

In [ ]:
dff_final = dff.groupBy(["Scrap_date", "Scrap_time", "Flight_id"]).agg(
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline1)).otherwise(F.last(dff.Airline1)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Airline2)).otherwise(F.last(dff.Airline2)).alias('Airline1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price1)).otherwise(F.last(dff.Price1)).alias('Price1_Back'),
F.when(F.first(dff.There_or_back) == 'There', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_There'),
F.when(F.first(dff.There_or_back) == 'Back', F.first(dff.Price2)).otherwise(F.last(dff.Price2)).alias('Price2_Back')
)